:root {
  --paragraf-color: #434455;
  --heading-color: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraf-color);
}

btn {
  cursor: pointer;
}

/* -------------------HEADER */

.nav-item {
  color: var(--heading-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  font-weight: 500;
  color: var(--paragraf-color);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ------------------- HERO */

.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ------------------- ABOUT */

.about-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

/* ------------------- WHATWEDO */

.whatwedo-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

/* ------------------- TEAM */

.team-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

/* ------------------- PORTFOLIO */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

/* ------------------- FOOTER */

.footer-descripton {
  color: #e7e9fc;
}
